
body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}


.logo ul {
	list-style-type: none;
	margin: 0;
	
	background-color: rgb(51,51,51);
	padding: 9px;
}

.logo li {
	display: inline-block;
}

.logo li a {
	text-decoration: none;
	margin-left: 15px;
	
	color: white;
}

.top-sign-right {
	padding-left: 10px;
	
}

.navi-bar ul {
	list-style-type: none;
	margin: 0px;
	padding: 0;
	background-color: rgb(51,51,51);
	padding: 10px;
}

.navi-bar li {
	display: inline-block;

}

.navi-bar li a {
	text-decoration: none;
	padding: 0;
	color: white;
}


.material-icons {
	color: white;
}
