body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	height: 2000px;
}

.logo1 {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}

.header1 {
	background-color: #fff;
	padding: 16px;
}

.header1 a {
	display: inline-block;
	text-decoration: none;
	color: black;

}

.header1 a:hover {
	color: black;
	text-decoration: none;
}

.top-sign-left1 {
	margin-left: 5px;
	font-size: 20px;
	
}

.top-sign-right1 {
	float: right;
	font-size: 14px;

}

.bagcol {
	margin: 0;
	padding: 0;
	background-color: rgb(51,51,51);
	box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.2)
}


.butcol ul li a {
	padding: 15px;
	color: #aaa;
	text-align: center;	

}

.mhover a:hover {
	color: black;
	background-color: white;
	font-weight: bold;


}

.icon-pos {
	float: right;
}


.material-icons {
	color: #cec7c7;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	background-color: white;
	position: absolute;
	width: 500px;
	padding: 15px;
	box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2) 
}

.dropdown-content a {
	text-decoration: none;
	display: block;
	color: black;
	text-align: left;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.brands {
	float: left;
}

.pos-brands {
	margin-left: 30px;
}