body {
	margin: 0;
	font-family: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	height: 4000px;
}


.sidebar1 {
	position: relative;
}

.logo1 {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}

.header1 {
	background-color: #fff;
	padding: 16px;
}

.header1 a {
	display: inline-block;
	text-decoration: none;
	color: black;

}

.header1 a:hover {
	color: black;
	text-decoration: none;
}

.top-sign-left1 {
	margin-left: 5px;
	font-size: 20px;
	
}

.top-sign-right1 {
	float: right;
	font-size: 14px;

}

/* NAV */

.bagcol {
	margin: 0;
	padding: 0;
	background-color: rgb(51,51,51);
	box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.2);
	position: relative;
}


.butcol ul li a {
	padding: 15px;
	color: #aaa;
	text-align: center;	
	

}

.mhover a:hover {
	color: black;
	background-color: white;
	font-weight: bold;


}


.dropdown {
	position: relative;
	display: inline-block;
	z-index: 1;
}

.dropdown-content {
	display: none;
	background-color: white;
	width: 100%;
	padding: 15px;
	position: fixed;
	left: 0;
  	right: 0;
  	top: auto;
  	box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);
  	text-align: center;
 }

.dropdown:hover .dropdown-content {
	display: inline-block;
	text-decoration: none;


}

.dropdown-content a {
	display: block;
	color: black;
	
}

.brands {
	padding: 10px;
	float: left;
	text-align: left;
	border-right: 2px solid #f2f2f2;
	height: 160px;
}

/* Slideshow */

.carousel-pos {
	z-index: 0;
	position: relative;
}

.carousel-inner img {
	
	display: block;
	width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
/* CAPTION */

.top-caption {
	position: absolute;
	top: 5%;
	text-align: center;
	padding: 10px;
	right: 2%;
	

}

.style-caption {
	font-weight: bold;
	font-size: 
	background-color: rgba(0, 0, 30, 0.1);
	border-radius: 5px;
}

/* Shop section */

* {
	box-sizing: border-box;
}

.shop-section-position {
	display: block;
	margin: 100px 0;

  }

.shop-section {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 0 40px;
	
	
	
}

.column {
	flex: 50%;
    max-width: 50%;
    margin: 0;
    padding: 1px;
   
}


.column a img {
	width: 100%;
	display: block;
	height: auto;
	
	
}

.item-hover {
	position: relative;
    text-align: center;
}

.name {
	display: none;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}



.item-hover:hover .name {
	display: block;
	color: black;
	font-size: 20px;
	font-weight: bold;
	
}

.goods:hover {
	opacity: 0.6;
	transition: all .2s
	
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;

    }
}


/* Shop section #2*/

.shop-clother-positin {
	display: block;
	margin-bottom: 100px;
}

.shop-clother-section {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 0 40px;
}

.clother-column {
	
	flex: 33.33%;
	max-width: 33.33%;
	margin: 0;
	padding: 2px;	
}

.clother-column a img {
	width: 100%;
	display: block;
	height: auto;
	margin: auto;
		

}

.clother-hover {
	position: relative;
}

@media screen and (max-width: 600px) {
	.clother-column {
		-ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
	}
}

/* overlay */

.overlay-info {
	position: absolute;
	bottom: 0;
	
  	background: rgba(255,255,255,0.9);
  	
  	width: 100%;
  	transition: .5s ease;
  	opacity: 0;
  	color: black;
  	
  	padding: 30px 30px 0 30px;
  	text-align: center;
  	
}

.clother-hover:hover .overlay-info {
  opacity: 1;
}

.size {
	display: inline-block;
}

.size p {
	display: inline-block;
	border: 1px solid grey;
	padding: 1px 7px;
	
}

.size:hover p {

	background: grey;
	color: white;
}

 /* BLOG SECTION */

.blog {
	padding-bottom: 100px;
	background-color: #f5f5f5;
}

.blog-caption {
	display: block;
	text-align: center;
	padding: 30px;
	font-size: 24px;
	color: #9b9b9b;
}

.blog-container {
 	display: flex;
 	flex-wrap: wrap;
}

.blog-column {
	margin: 0;
	flex: 25%;
	max-width: 25%
}

.blog-content {
	position: relative;
	background-color: #ffffff;
}

.blog-content img {
	width: 100%;
	display: block;
	height: auto;
	
}

@media screen and (max-width:600px) {
	.blog-column {
		 flex: 50%;
        max-width: 50%;
	}
}

 /* BLOG Overlay */

.blog-overlay {
	position: absolute;
	top: 0;
	left: 0;
	padding: 36px;
	line-height: 1.2;
}

.feedcard-tag {
	margin: 0;
	color: #9b9b9b;
	font-size: 15px;
	font-weight: 700;		
}

.feedcard-date {
	color: #9b9b9b;
	font-size: 15px;
	font-weight: 700;	
}

.feedcard-title {
	position: absolute;
	line-height: 1;
	font-weight: 700;
	font-size: 20px;
	color: #4A4A4A;
	top: 30%;
	padding: 36px;	
}

@media screen and (max-width: 768px) {
	.feedcard-title {
		font-size: 16px;
	}
}

.feedcard-display {
	display: none;
}

.blog-content:hover .feedcard-display {
	display: block;
}

a:hover .img-opac{
	opacity: 0;
}

.email-pos {
	float: right;
}

	/* Footer */

.footer-caption {
	padding: 10px 10px 60px 10px;
	height: 60px;
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 20px;
}

.footer-logo {
	float: left;
	width: 100%
	height: auto;

}

.logo-caption {
	position: absolute;
	font-size: 20px;
	vertical-align: middle;
	left: 75px;
	top: 19px;
}

.input-style {
	border-bottom-left-radius: 20px;
}

.input-group-round-field {
	border-radius: 40px;
	text-transform: uppercase;
	letter-spacing: 0.0623em;
	font-size: 11px;
	font-weight: 400;
	border: 1px solid #E0E0E0;
	padding: 6px 30px 6px 16px;
	background-color: #F6F6F6;
	background-image: url(../imgs/if_basics-06_296832.png);
	background-repeat: no-repeat;
    background-position: 175px 7px;


}

.full-width {
	width: 100%
}

.social-links ul li {
	padding: 5px;
	display: inline-block;	
}

.social-links a {
	color: #9b9b9b;
}

.social-links a:hover {
	color: black;
}

